@import "../../../Common.scss";

.box-wrapper {
    overflow: hidden !important;

    .css-1ynbdvp-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
        // border-radius: $border-radius;
    }

    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
    .css-bpeome-MuiSvgIcon-root-MuiSelect-icon {
        display: none;
    }

    .css-kmspea-MuiFormHelperText-root {
        color: $textColor;
        font-weight: $font-weight-bold;
        font-size: 14px;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.MuiSelect-select {
        // border-radius: $border-radius;
    }
}