@import "../../../Common.scss";

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root {
    border: none !important;
}

.MuiPaginationItem-root {
    color: #003B95;
    font-weight: 400 !important;
}

.css-19xm0h7-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.17) !important;
    background-color: unset;
    background-color: unset;
    color: $textColor;
}