@import '../../../Common.scss';

.header {
    width: 100%;
    background-color: $blue-light !important;
    height: 70px;
    padding: 12px 0;
    justify-content: space-between;

    .logo-text {
        font-size: 40px;
        color: $blue-dark;
        font-weight: $font-weight-bold;
    }

    .nav-item {
        display: flex;
        align-items: center;
        // width: 123px;
        height: 60px;
        margin-right: 20px;

        span {
            font-size: $fontSizeMedium;
            color: #9F3845;
            font-weight: $font-weight-bold;
        }
    }

    .header-button {
        width: 130px;
        height: 45px;
        padding: 11px !important;
        background: #CBDCF7;
        border-radius: $border-radius;
        margin-left: 24px;
    }
}