@import "../../../../Common.scss";

.box {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.13);
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 21px;
}
.line {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.07);
}