@import '../../../../Common.scss';
.add-room {
    // min-height: 100vh;
    background-color:  white;
    
    .content{
        
        // height: 100vh;
        margin-bottom: 100px;
        padding: 0 190px;
        padding-top:50px;
    }
    .btn-continue{
        background-color: #3182D3;
        color: white;
    }
    .btn-continue:hover {
        transition: 0.5s;
        border: 1px solid #333;
  
      }
}