@import "../../../Common.scss";

.content {
    max-width: 1160px;
    margin: 20px auto;
    min-height: 600px;
    padding-top: 20px;
    .input{
        width: 600px;
        height: 50px;
        border: 1px solid rgb(2, 51, 126);
        padding: 10px;
        border-radius: 4px;
        font-size: 18px;
    }
    .image{
        border-radius: 5%;
        width: 130px;
        height: 130px;
    }
}