$roboto-regular-font: 'Roboto-Regular';
$roboto-regular-font-path: 'assets/fonts/Roboto-Regular.woff2';
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 18px;
$textColor: black;

@font-face {
    font-family: 'Roboto-Regular';
    src: url($roboto-regular-font-path) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $roboto-regular-font;
    font-size: $fontSizeSmall;
    color: $textColor;
    // width: 1366px;   
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}