$roboto-regular-font: 'Roboto-Regular';
$roboto-regular-font-path: 'assets/fonts/Roboto-Regular.woff2';
$fontSizeSmall: 14px;
$fontSizeMedium: 24px;
$fontSizeLarge: 40px;
$textColor: black;
$font-weight-nomal: 400;
$font-weight-bold: 700;
$border-radius: 30px;
//
$blue-light: #D5F0F9;
$blue-dark: #0F1C4C;
$mainBg: white;
$yellow: #CDA517;
$border-box-color: #00000038;
$inputWidthLg: 375px;

@font-face {
    font-family: 'Roboto-Regular';
    src: url($roboto-regular-font-path) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $roboto-regular-font !important;
    font-size: $fontSizeSmall !important;
    font-weight: $font-weight-nomal !important;
    color: $textColor !important;
    // width: 1366px;   
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
}

* {
    box-sizing: border-box !important;
}